<!DOCTYPE html>
<html>
<head>
  <title>Rails Upgrade Checklist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% cache do %>
    <div class="container">
      <section>

        <h1>Rails Upgrade Checklist</h1>

        <div class="well">
          <h5>Stuck on Rails 2.3 (or earlier) and not sure what to do?</h5>
          <p>This step by step guideline is your friend. Each step is doable, so you can make this happen!</p>
          <p>Q: Wait now, What is this?</p>
          <p>A: A list, nay, a Framework for upgrading Rails Apps to version 4.0</p>
        </div>
        <%= yield %>

        <div id="other-resources">
          <h2>Other Resources</h2>
          <ul>
            <li><%= link_to 'A Guide for Upgrading Ruby on Rails (official)', 'http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html' %></li>
            <li><%= link_to 'RailsApps\' Updating Rails guide', 'http://railsapps.github.io/updating-rails.html' %></li>
          </ul>
        </div>

        <div id="rubyoffrails">
          <h2>Ruby Off Rails</h2>
          <p>For more awesomeness, check out @jwo's course <a href="https://rubyoffrails.com">Ruby Off Rails</a></p>
        </div>
      </section>

      <footer>
        <%= render partial: 'layouts/footer' %>
      </footer>
    </div>
  <% end %>

</body>
</html>
